<section class="flex p-5">
    <div class="w-1/12 mx-5">
        <app-toolbox [drawing]="this"></app-toolbox>
        <div>
            <div class="w-32 p-2 border ">
                <label>Stroke color</label>
                <input class="w-28" type="color" [(ngModel)]="strokeColor" />
            </div>
    
            <div class="w-32 p-2 border ">
                <label>Stroke size:</label>
                <input class="w-28" type="range" min="1" max="10" [(ngModel)]="strokeSize">
            </div>
            <div class="w-32 p-2 border">
                <button class="" (click)="addNote()" >
                    <fa-icon class="text-2xl items-center text-black" [icon]="faAddress"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div id="canvas" class="border droppable w-full">
        <div class="flex flex-wrap p-2 m-5">
            <app-note 
            *ngFor="let note of notes; let i = index" 
            (dismiss)="deleteNote($event)" 
            (focusout)="saveNote($event)" 
            id="{{note.id}}">
            {{note.content}}
          </app-note>
        </div>
    </div>
</section>
